.App {
  max-width: 1110px;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px;
}

header > .logo {
  color: var(--white-bright);
  font-size: 32px;
  font-weight: bold;
  letter-spacing: -0.44px;
}

ul.icons {
  display: flex;
  gap: 32px;
}

@media (min-width: 1110px) {
  header {
    margin: 0;
  }
}
