.App {
  max-width: 1110px;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
}

header > .logo {
  color: var(--white-bright);
  font-size: 32px;
  font-weight: bold;
  letter-spacing: -0.44px;
}

ul.icons {
  display: flex;
  gap: 32px;
}

.hero {
  display: flex;
  position: relative;
}

.bg-detail {
  background-image: url('./assets/bg-detail.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 530px;
  height: 130px;
  position: absolute;
  margin-top: 30px;
  margin-left: -180px;
}

.hero__text {
  max-width: 706px;
  margin-top: 90px;
}

.hero__text .title {
  font-size: var(--xl);
  letter-spacing: -2.5px;
  line-height: var(--xl);
  margin-bottom: 48px;
}

.hero__text .name {
  border-bottom: 6px solid var(--accent-green);
}

.hero__text .bio {
  font-size: 18px;
  line-height: 28px;
  color: var(--white-dimmed);
  max-width: 445px;
  margin-bottom: 64px;
}

.hero__text > .text-link {
  display: inline-block;
  color: var(--white-bright);
  letter-spacing: 2.3px;
  line-height: 26px;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--accent-green);
}

.image-container {
  padding-top: 160px;
  margin-top: -128px;
  margin-right: -30px;
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--primary-darker);
}

.image-container img {
  width: 472px;
}

.circle {
  position: absolute;
  right: 34%;
  top: 85%;
  width: 128px;
  height: 128px;
  border: 1px solid var(--white-bright);
  border-radius: 50%;
}

.skills {
  margin-top: 220px;
  margin-bottom: 140px;
}

.skills hr {
  width: calc(100% + 30px);
  margin-bottom: 72px;
}

.skills ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 58px 30px;
}

.skills li {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 345px;
}

.skill {
  font-size: 48px;
  line-height: 56px;
  gap: 72px 30px;
}

.projects {
  margin-bottom: 140px;
}

.projects h2 {
  font-size: var(--xl);
  line-height: var(--xl);
  margin-top: 0;
  margin-bottom: 80px;
}

.projects ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 70px 30px;
}

.project {
  grid-column: span 1;
  text-transform: uppercase;
  font-size: 22px;
  line-height: 30px;
}

.project__content img {
  width: 540px;
  height: 400px;
}

.project__content p {
  display: flex;
  gap: 18px;
  font-size: 18px;
  line-height: 28px;
  color: var(--white-dimmed);
  /* flex-direction: column; */
}

@media (max-width: 1110px) {
  .App {
    margin: 0 30px;
  }
}
