@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&display=swap');

:root {
  --primary-darkest: #151515;
  --primary--darker: #242424;
  --white-bright: #ffffff;
  --white-dimmed: #d9d9d9;
  --accent-green: #4ee1a0;
  --accent-red: #ff6f5b;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Space Grotesk', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-darkest);
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  height: 100%;
  width: 100%;
}
